<!DOCTYPE html>
<html>
  <head>
    <title>Harness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= link_to 'exercices', exercices_path %>
     | 
    <%= link_to 'submissions',submissions_path %>
     | 
    <%= link_to 'submission_tests', submission_tests_path %>
     | 
    <%= link_to 'tests', tests_path %>
    <br>
    <%= yield %>
  </body>
</html>
